html {
    background-color: #0F172A;

}

.wrapper {
    border: 0px solid white;
    width: 80%;
    margin: 0 auto;
    max-width: 90rem;
    margin-top: 7.5rem;
}

a {
    text-decoration: none;
    color: #62FDE2;
}

a:visited{
    text-decoration: none;
    color: #62FDE2;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 4rem;
}
h2 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

header p {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #b0b9c6;
    
}

header {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 0px solid #b0b9c6;
    gap: 5rem;
    
}
section {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

.leftheader { 
    border: 0px solid white;
    text-align: center;
    flex: 1 0;
}

.rightheader {
    font-size: 1.6rem;
    padding-top: 1rem;
    text-align: justify;
    border: 0px solid white;
    flex: 1 0 49%;
}

img {
    border-radius: 2rem;
    width: 32.5rem;
}

i.fa {
    background-color:#0F172A;
    color: #bfc6d1;
    font-size: 5rem;
    margin: 0.2rem;

}

i:hover {
    color: #7e8187 ;
}

i:active, i:focus {
    background-color:#0F172A;
    color: #bfc6d1;
}

ul {
    padding: 2rem 0 0 0;
    list-style-type: none;
    text-align: center;
}

ul a {
    font-size: 2rem;
    background-color: #122B39;
    display: inline-block;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border: 0px solid white;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    margin-top: 0.25rem;
    border-radius: 2rem;

}

ul a:hover {
    background-color: #2C506A;
}

div.job {
    border: 0px solid white;
    margin-top: 2rem;
    padding: 1rem;
    color: #bfc6d1; 
    background-color: #2a363d;
    border-radius: 2rem;
}
.job ul {
    font-size: 1.3rem;
    list-style-type: square;
    list-style-position: outside;
    text-align: left;
    padding: 1rem 0 0 3rem;
    margin: 0;
}

div.job:hover {
    background-color: #254D61;
}

.job li {
    padding-left: 1rem;
    padding-bottom: 0.75rem;
}

.blah li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    color: #62FDE2;
    background-color: #122B39;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
}


