@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateY(90deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0);
    }
}
html {
    height: 100%;
    background-color: #172441; 
    overflow-y: scroll;
    cursor: none;
}

.wrapper {
    animation: transitionIn 2s;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 10rem;
    text-align: center;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #b0b9c6;
    
}

.nav {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem;
    margin: 0;
    background-color: #0F172A;
    
}

a {
    text-decoration: none;
    color: #62FDE2;
}

a:visited{
    text-decoration: none;
    color: #62FDE2;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    color: white;
    
}

h2:not(.mylink) {
    padding: 0 0 0.5rem 0;
    margin: 0;
    font-size: 1.5rem;
    color: white;
}
h3 {
    padding:0;
    margin: 0;
    font-size: 1.3rem;
}

header p {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
}

header {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    
}
section {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    
}

.leftheader { 
    min-width: 400px;
    background-color: #0F172A;
    padding: 1rem;
    border-radius: 2rem;
    border: 0px solid white;
    text-align: center;
    flex: 1 0;
    
}

.rightheader {
    font-size: 1.3rem;
    text-align: left;
    padding-top: 3rem;
    border: 0px solid white;
    flex: 1 0 50%;
}
.about {
    background-color: #0F172A;
    text-align: left;
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

img {
    max-width: 100%;
    border-radius: 2rem;
}

img.project {
    max-width: 100%;
    border-radius: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img.project:hover {
    cursor: none;
    transform: scale(1.1, 1.1);
}

i.fa {
    background-color:#0F172A;
    color: #bfc6d1;
    font-size: 5rem;
    margin: 0.25rem;

}

i:active, i:focus {
    background-color:#0F172A;
    color: #bfc6d1;
}

.nav li {
    font-size: 1.5rem;
    background-color: #122B39;
    display: inline-block;;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    margin-top: 0.25rem;
    border-radius: 2rem;
}

.cursor {
    position: fixed;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: white;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

@media (hover: none) {
    .cursor {
        width: 0;
        height: 0;
    }
    
}

ul {
    padding: 3rem 0 0 0;
    list-style-type: none;
    text-align: center;
}

.nav li:hover, .nav li a:hover, .fa:hover, .mylink h2:hover, button:hover {
    transform: scale(1.4, 1.4);
    cursor: none;
}

fieldset input:hover, textarea:hover {
    transform: scale(1.1);
}

div.job, div.project, div.contact {
    
    max-width: 650px;
    margin-top: 2rem;
    padding: 1rem;
    color: #bfc6d1; 
    background-color: #0F172A;
    border-radius: 2rem;
    display: inline-block;

}
.job ul, .project ul {
    font-size: 1rem;
    list-style-type: square;
    list-style-position: outside;
    text-align: left;
    padding: 1rem 0 0 3rem;
    margin: 0;

    
}

div.job:hover {
    background-color: #141f39;
}

.job li {
    padding-left: 1rem;
    padding-bottom: 0.75rem;
}

.skills li {
    margin-bottom: 0.5rem;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    color: #62FDE2;
    background-color: #122B39;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
}

.back p:hover {
    color: #7e8187;
}
.mylink h2:hover {
    color: #62FDE2;
}

.contact {
    cursor: none;
}

fieldset {
    border: 0; 
}


fieldset label, textarea, input {
    cursor: none;
    display: block;
    text-align: left;
	margin-bottom: 0.25rem;
    width: 25rem;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 1em;
	border-radius: 0.25rem;
	padding: 0.5rem;

}

textarea {
    height: 15rem;
    margin-top: 10px;
}

button {
	margin: 2rem 0;
	background-color: #122B39;
	color: white;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}









